<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html" />
	<title>스프링 부트 일기</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

	<link rel="stylesheet" href="/css/bootstrap-glyphicons.css" />
	<link rel="stylesheet" href="/css/styles.css" />

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
	<h1>스프링 부트 일기</h1>

	<p sec:authorize="isAuthenticated()">
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="로그아웃"/>
	</form>
	</p>

	<ul class="timeline">
		<!--/*@thymesVar id="journal" type="kr.purred.playground.startboot.model.domain.Journal"*/-->
		<div th:each="entry,status : ${journal}">
			<li th:attr="class=${status.odd}?'timeline-inverted':''">
				<div class="tl-circ"></div>
				<div class="timeline-panel">
					<div class="tl-heading">
						<h4><span th:text="${entry.title}">제목</span></h4>
						<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <span th:text="${entry.createdAsShort}">에 작성.</span></small></p>
					</div>
					<div class="tl-body">
						<p><span th:text="${entry.summary}">요약</span></p>
					</div>
				</div>
			</li>
		</div>
	</ul>
</div>
</body>
</html>
